html{font-size: 62.5%;}
body{
    background: url(https://wah.or.kr:444/assets/img/common/doc_bg.gif)repeat-x 50% 0;
}
body>header{
    margin: 0 auto;
    width: 108rem;
}
body>header>div{
    height: 8.4rem;
}
body>header>div>h1{
    float: left;
    margin: 1.5rem 19.6rem 0 5rem;
}
body>header>div>h2{}
body>header>div>form{
    float: left;
    margin-top: 2rem;
    width: 33.6rem; height: 3.9rem;
    background: url(https://www.wah.or.kr:444/assets/img/common/search_bg.gif)no-repeat 0 0;
}
body>header>div>form>input[type^="s"]{
    float: left; margin: 0.9rem 0 0 1.2rem; border: 0 none;
    width: 25.8rem; height: 2.2rem;
}
body>header>div>form>input[type^="i"]{
    float: right;
}
body>header>div>dl{
    float: right;
    margin-top: 3.4rem;
    font:1.2rem/1.2rem '돋움',dotum,sans-serif;
}
body>header>div>dl>dt{}
body>header>div>dl>dd{
    float: left;
    padding: 0 1.5rem;
    background: url(https://www.wah.or.kr:444/assets/img/common/line.gif)no-repeat 0 50%;
}
body>header>div>dl>dd:nth-of-type(1){
    background: none;
}
body>header>div>dl>dd>a{
    color: #444;
}

body>header>nav{
    clear: both;
}
body>header>nav>h1{}
body>header>nav>ul{
    margin-left: 0.1rem;
    border-left: 0.1rem solid #e9e9e9;
    height: 4.6rem;
}
body>header>nav>ul>li{
    float: left; width: 17.4rem; height: 4.6rem;
    border-right: 0.1rem solid #e9e9e9;
}
body>header>nav>ul>li:first-of-type{width: 17.2rem;}
body>header>nav>ul>li:last-of-type{width: 16.8rem;}
body>header>nav>ul>li>a{
    display: block; height: 4.6rem;
    text-align: center;
    text-shadow: 0 0 0 #3d3c3b,0 0 0 #3d3c3b;
    font: 1.4rem/4.6rem NanumBarunGothic,sans-serif;
    color: #3d3c3b;
}
body>header>nav>ul>li>ul{display: none;}
body>header>nav>ul>li>ul>li{}
body>header>nav>ul>li>ul>li>a{}